/**
 * body {
 *   color: #FBFBFD;
 *   background-color: #061117;
 * }
 */
$body-bg: #061117;
$body-color: #FBFBFD;

/*
.nav-toggler {
  background-color: #00C6D6;
}
.navbar-toggler-icon {
  color: #FBFBFD;
}
*/
$navbar-dark-color: rgba(0, 198, 214, 1);
$navbar-dark-toggler-border-color: rgba(0, 198, 214, 1);


